@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 290vh;
    position: relative;
    background: linear-gradient(to bottom, rgb(11, 2, 23) 50%, rgb(5, 0, 20) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    scroll-behavior: smooth;
}

.container_create_products {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 8px;
    top: 0%;
    width: 85%;
    height: 60vh;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    padding-bottom: 8%;
}

.container_create_products h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background: -webkit-linear-gradient(45deg, #c97874 10%, #463042 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 300;
    line-height: 10rem;
    font-size: 4rem;
    width: 50vw;
}

.container_create_products input::placeholder {
    color: white;
    font-family: "Montserrat", sans-serif;
}

.container_create_products input:focus {
    outline: none;
    background-color: transparent;
}

.container_create_products input {
    cursor: pointer;
    display: flex;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    color: #ff82b476;
    width: 40vw;
    padding: 0.6rem 0.6rem;
    line-height: 1rem;

}

.container_create_products button {
    display: flex;
    justify-content: center;
    background-color: rgba(230, 136, 227, 0.121);
    border: none;
    font-size: 0.8rem;
    color: #ff82b476;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    padding: 0.6rem 0.6rem;

}

.container_create_products button:hover {
    background-color: rgba(255, 255, 255, 0.042);
}






.product-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0.7rem 0.9rem;
    color: #ff82b476;
    background-color: rgba(116, 53, 53, 0.05);
    border-radius: 8px;
    width: 85%;
    overflow: hidden;
    margin-top: 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}





.product-list-container h2 {
    text-align: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    background: -webkit-linear-gradient(45deg, #c97874 10%, #463042 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1rem;
    font-weight: 300;
    padding: 3%;
    font-size: 4.8rem;
    margin-bottom: 20px;
}


.product-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    gap: 1rem;
}

.product-info {
    display: flex;
    flex-direction: row;
    flex: 3;


}

.product-name {
    font-weight: unset;
    color: #ff82b476;
    flex: 3;
}

.product-price {
    color: #ff82b476;
    margin-top: 0.2rem;
    flex: 3;
}

.product-description {
    flex: 3;
    max-height: 3em;


    text-overflow: ellipsis;
    white-space: wrap;


    color: white;
    background: transparent;
}

.product-item button {
    padding: 0.3rem;
    font-size: 0.8rem;
    color: white;
    background-color: #ff82b476;
    border: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s;
}

.product-item button:hover {
    background-color: #ff82b44c;
}

.product-item .edit-form {
    display: none;
    flex-direction: column;

    margin-top: 10px;
}

.product-item .edit-form input {
    margin: 0.7rem 0.1rem;
    padding: 0.4rem 1rem;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-family: "Montserrat", sans-serif;

}

.product-item .edit-form button {
    margin-top: 0.5rem;
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    color: white;
    background-color: #ff82b419;
    border: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s;
}

.product-item .edit-form button:hover {
    background-color: #ff82b4;
}

#product-list li {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-align: left;
    padding: 0.5rem 0.5rem;
    width: 75vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-family: "Montserrat", sans-serif;
    color: white;
}



#product-list li input,
#product-list li span,
#product-list li strong {
    flex: 1;
    margin: 0.4rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    max-height: fit-content;
    text-align: left;
    align-items: center;
    color: white;
    border: none;
    background: transparent;
    box-sizing: border-box;
    height: auto;
    resize: vertical;
}


#product-list li button {
    margin-left: 0.5rem;
    padding: 0.3rem 0.3rem;
    font-size: 0.8rem;
    color: white;
    background-color: #ff82b476;
    border: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s;
}

#product-list li button:hover {
    background-color: #ff82b44c;
}

#product-list li .edit-form {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}



#product-list li .edit-form input {
    margin: 0.7rem 0.1rem;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-family: "Montserrat", sans-serif;
}

#product-list li .edit-form button {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: white;
    background-color: #ff82b419;
    border: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

#product-list li .edit-form button:hover {
    background-color: #ff82b4;
}


.export-buttons {
    position: relative;
    top: 4%;

    right: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.export-button {
    align-items: center;
    padding: 0.4rem 0.5rem;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.718);
    background-color: #ff82b44c;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Montserrat", sans-serif;
}


.export-button:hover {
    background-color: #ff82b476;
}